[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.13.4",
    "python-levenshtein>=0.27.1",
    "requests>=2.32.4",
    "thefuzz>=0.22.1",
]
